In [ ]:
#press shift and enter to activate this cell and open a new cell
print('hello world')

hello world

In [ ]:
def Season(rain):
  if rain >= 1800:
    print('It is rainy season')
  else:
    print('It is dry season')

Season(274)

It is dry season

In [1]:
#load data 
import pandas as pd 
california_housing_data = pd.read_csv('/content/sample_data/california_housing_train.csv')

In [4]:
california_housing_data.head()

   longitude  latitude  ...  median_income  median_house_value
0    -114.31     34.19  ...         1.4936             66900.0
1    -114.47     34.40  ...         1.8200             80100.0
2    -114.56     33.69  ...         1.6509             85700.0
3    -114.57     33.64  ...         3.1917             73400.0
4    -114.57     33.57  ...         1.9250             65500.0

[5 rows x 9 columns]

Now here comes your assignment

In [ ]:
#Assignment write a function to describe four seasons
def Season(spring):
    if spring >= 2700:
        print('It is Springtime')
    else:
        print('It is not Springtime')
def Season(summer):
    if summer >= 900:
        print('It is summer')
    else:
        print('It is not summer')
def Season(autumn):
    if autumn >= 1600:
        print('It is autumn')
    else:
        print('It is not autumn')
def Season(winter):
    if winter >= 780:
        print('It is winter')
    else:
        print('It is not winter')

In [ ]:
#Save and download the notebook and upload it to your github